# Part 4 - filtering

In [1]:
import pandas as pd

In [2]:
survey_df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [3]:
people_df = pd.DataFrame({
    'first': 'Corey Jane John'.split(),
    'last': 'Schafer Doe Doe'.split(),
    'email': 'CoreyMSchafer@gmail.com JaneDoe@gmail.com JohnDoe@gmail.com'.split()
})
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [4]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

# manage ALL column names

In [5]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

## replace all column names

In [6]:
people_df.columns = 'first_name last_name email'.split()
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## make all column names uppercase

In [7]:
people_df.columns = [x.upper() for x in people_df.columns]
display(people_df.columns)
people_df

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## make all column names lowercase vectorized

In [8]:
people_df.columns = people_df.columns.str.lower()
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## replace spaces in column names

In [9]:
people_df.columns = people_df.columns.str.replace(' ', '_')
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

# manage SOME column names

In [10]:
people_df.rename(
    columns={
        'first_name': 'first',
        'last_name': 'last',
    },
    inplace=True
)
display(people_df.columns)
people_df

Index(['first', 'last', 'email'], dtype='object')

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

# update whole row

## target dest row wiith .loc or .iloc

In [11]:
people_df.loc[2]

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

## assign list of values to target row

In [12]:
people_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@email.com

## target dest row with filter

In [13]:
filt_jonsmith = (people_df['first'] == 'John') & (people_df['last'] == 'Smith')
people_df.loc[filt_jonsmith]

  first   last                email
2  John  Smith  JohnSmith@email.com

## assign new single value with filter and .loc

In [14]:
people_df.loc[filt_jonsmith, ['email']] = 'test'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith                     test

## assign new values with a filter and .loc

In [15]:
people_df.loc[filt_jonsmith, ['first', 'last', 'email']] = ['John', 'Smith', 'JohnSmith@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@email.com

## assign some values with .loc

In [16]:
people_df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

## assign ONE value with .loc

In [17]:
people_df.loc[2, 'last'] = 'Smith'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@email.com

## assign ONE value with .at

In [18]:
people_df.at[2, 'last'] = 'Doe'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

# classic gotcha

## SettingWithCopyWarning

In [19]:
filt = (people_df['email'] == 'JohnDoe@email.com')
people_df[filt]['last'] = 'Smith'
people_df

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_66783/3081735161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_df[filt]['last'] = 'Smith'

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

## FIX SettingWithCopyWarning

In [20]:
filt = (people_df['email'] == 'JohnDoe@email.com')
people_df.loc[filt, 'last'] = 'Smith'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@email.com

# change multiple rows

In [21]:
people_df['email'].str.lower()

0    coreymschafer@gmail.com
1          janedoe@gmail.com
2          johndoe@email.com
Name: email, dtype: object

In [22]:
people_df['email'] = people_df['email'].str.lower()
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

# using .apply

## apply on column

In [23]:
people_df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [24]:
def update_email(email:str) -> str:
    return email.upper()

people_df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [25]:
people_df['email'] = people_df['email'].apply(update_email)
people_df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@GMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [26]:
people_df['email'] = people_df['email'].apply(lambda email: email.lower())
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

## apply on df

### get len of each column

In [27]:
display(people_df.apply(len))
len(people_df['email'])

first    3
last     3
email    3
dtype: int64

3

### get len of each row

In [28]:
display(people_df.apply(len, axis=1))
len(people_df.loc[0])

0    3
1    3
2    3
dtype: int64

3

### apply min to each column

In [29]:
display(people_df.apply(min))
display(people_df.apply(pd.Series.min))
display(people_df.apply(lambda series: series.min()))

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

### apply upper to each item of each column as series

In [ ]:
people_df.apply(lambda x: x.str.upper()) #axis=0

   first     last                    email
0  COREY  SCHAFER  COREYMSCHAFER@GMAIL.COM
1   JANE      DOE        JANEDOE@GMAIL.COM
2   JOHN    SMITH        JOHNDOE@EMAIL.COM

# using map

## apply len to each cell of df

In [31]:
display(people_df.applymap(len))    # deprecated
people_df.map(len)

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_66783/828034906.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  display(people_df.applymap(len))    # deprecated

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

## using map on a series

In [ ]:
# missing keys return NaN
people_df['first'].map({
    'Corey': 'Cris',
    'Jane': 'Mary',
})

0    Cris
1    Mary
2     NaN
Name: first, dtype: object

## using replace on a series

In [ ]:
# missing keys ar left untouched
people_df['first'].replace({
    'Corey': 'Cris',
    'Jane': 'Mary',
})

0    Cris
1    Mary
2    John
Name: first, dtype: object

## using replace on a df

In [34]:
people_df.replace({
    'Corey': 'Cris',
    'Jane': 'Mary',
    'Doe': 'Smith'
})

  first     last                    email
0  Cris  Schafer  coreymschafer@gmail.com
1  Mary    Smith        janedoe@gmail.com
2  John    Smith        johndoe@email.com

In [35]:
survey_df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True); survey_df.head(1)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27

In [36]:
survey_df['Hobbyist'].head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: Hobbyist, dtype: object

In [41]:
# do not use map, it is not idempotent: on the second run it will set values to NaN
survey_df['Hobbyist'] = survey_df['Hobbyist'].replace({'Yes': True, 'No': False}); survey_df.head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,True,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,False,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,True,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

In [38]:
survey_df['Hobbyist'].replace({True: 'Yes', False: 'No'}).head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: Hobbyist, dtype: object