# Part 4 - filtering

In [225]:
import pandas as pd

In [226]:
survey_df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [227]:
people_df = pd.DataFrame({
    'first': 'Corey Jane John'.split(),
    'last': 'Schafer Doe Doe'.split(),
    'email': 'CoreyMSchafer@gmail.com JaneDoe@gmail.com JohnDoe@gmail.com'.split()
})
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [228]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

# manage ALL column names

In [229]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

## replace all column names

In [230]:
people_df.columns = 'first_name last_name email'.split()
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## make all column names uppercase

In [231]:
people_df.columns = [x.upper() for x in people_df.columns]
display(people_df.columns)
people_df

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## make all column names lowercase vectorized

In [232]:
people_df.columns = people_df.columns.str.lower()
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

## replace spaces in column names

In [233]:
people_df.columns = people_df.columns.str.replace(' ', '_')
display(people_df.columns)
people_df

Index(['first_name', 'last_name', 'email'], dtype='object')

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

# manage SOME column names

In [234]:
people_df.rename(
    columns={
        'first_name': 'first',
        'last_name': 'last',
    },
    inplace=True
)
display(people_df.columns)
people_df

Index(['first', 'last', 'email'], dtype='object')

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

# update whole row

## target dest row wiith .loc or .iloc

In [235]:
people_df.loc[2]

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

## assign list of values to target row

In [236]:
people_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@email.com

## target dest row with filter

In [237]:
filt_jonsmith = (people_df['first'] == 'John') & (people_df['last'] == 'Smith')
people_df.loc[filt_jonsmith]

  first   last                email
2  John  Smith  JohnSmith@email.com

## assign new single value with filter and .loc

In [238]:
people_df.loc[filt_jonsmith, ['email']] = 'test'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith                     test

## assign new values with a filter and .loc

In [239]:
people_df.loc[filt_jonsmith, ['first', 'last', 'email']] = ['John', 'Smith', 'JohnSmith@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@email.com

## assign some values with .loc

In [240]:
people_df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

## assign ONE value with .loc

In [241]:
people_df.loc[2, 'last'] = 'Smith'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@email.com

## assign ONE value with .at

In [242]:
people_df.at[2, 'last'] = 'Doe'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

# classic gotcha

## SettingWithCopyWarning

In [243]:
filt = (people_df['email'] == 'JohnDoe@email.com')
people_df[filt]['last'] = 'Smith'
people_df

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_19502/3081735161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_df[filt]['last'] = 'Smith'

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@email.com

## FIX SettingWithCopyWarning

In [244]:
filt = (people_df['email'] == 'JohnDoe@email.com')
people_df.loc[filt, 'last'] = 'Smith'
people_df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@email.com

# change multiple rows

In [245]:
people_df['email'].str.lower()

0    coreymschafer@gmail.com
1          janedoe@gmail.com
2          johndoe@email.com
Name: email, dtype: object

In [246]:
people_df['email'] = people_df['email'].str.lower()
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

# using .apply

## apply on column

In [247]:
people_df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [248]:
def update_email(email:str) -> str:
    return email.upper()

people_df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [249]:
people_df['email'] = people_df['email'].apply(update_email)
people_df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@GMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [250]:
people_df['email'] = people_df['email'].apply(lambda email: email.lower())
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

## apply on df

### get len of each column

In [251]:
display(people_df.apply(len))
len(people_df['email'])

first    3
last     3
email    3
dtype: int64

3

### get len of each row

In [252]:
display(people_df.apply(len, axis=1))
len(people_df.loc[0])

0    3
1    3
2    3
dtype: int64

3

### apply min to each column

In [253]:
display(people_df.apply(min))
display(people_df.apply(pd.Series.min))
display(people_df.apply(lambda series: series.min()))

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

### apply upper to each item of each column as series

In [254]:
people_df.apply(lambda x: x.str.upper())

   first     last                    email
0  COREY  SCHAFER  COREYMSCHAFER@GMAIL.COM
1   JANE      DOE        JANEDOE@GMAIL.COM
2   JOHN    SMITH        JOHNDOE@EMAIL.COM

# using map

## apply len to each cell of df

In [255]:
display(people_df.applymap(len))    # deprecated
people_df.map(len)

/var/folders/ch/0323xqnn3vbc6t95tfvmh0w40000gn/T/ipykernel_19502/828034906.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  display(people_df.applymap(len))    # deprecated

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

## using map on a series

In [256]:
people_df['first'].map({
    'Corey': 'Cris',
    'Jane': 'Mary',
})

0    Cris
1    Mary
2     NaN
Name: first, dtype: object

## using replace on a series

In [257]:
people_df['first'].replace({
    'Corey': 'Cris',
    'Jane': 'Mary',
})

0    Cris
1    Mary
2    John
Name: first, dtype: object

## using replace on a df

In [258]:
people_df.replace({
    'Corey': 'Cris',
    'Jane': 'Mary',
    'Doe': 'Smith'
})

  first     last                    email
0  Cris  Schafer  coreymschafer@gmail.com
1  Mary    Smith        janedoe@gmail.com
2  John    Smith        johndoe@email.com

In [259]:
survey_df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True); survey_df.head(1)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27

In [260]:
survey_df['Hobbyist'].head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: Hobbyist, dtype: object

In [263]:
survey_df['Hobbyist'] = survey_df['Hobbyist'].map({'Yes': True, 'No': False}, na_action='ignore'); survey_df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,NaN,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,NaN,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,NaN,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,NaN,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",NaN,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [262]:
survey_df['Hobbyist'].replace({True: 'Yes', False: 'No'}).head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: Hobbyist, dtype: object