In [83]:
import pandas as pd
import random

In [84]:
NAME_LIST = 'bob mark joe chris'.split()
SURNAME_LIST = 'smith brown doe iggins'.split()
ROW_COUNT = 10

In [85]:
names = (random.choice(NAME_LIST) for _ in range(ROW_COUNT))
surnames = (random.choice(SURNAME_LIST) for _ in range(ROW_COUNT))
data = ((name, surname, f'{name}.{surname}@mail.com') for name, surname in zip(names, surnames))
records = [{'first': first, 'last': last, 'email':email} for first, last, email in data]
df = pd.DataFrame(records); df

   first    last                  email
0    bob   brown     bob.brown@mail.com
1   mark  iggins   mark.iggins@mail.com
2   mark   smith    mark.smith@mail.com
3  chris     doe     chris.doe@mail.com
4   mark   smith    mark.smith@mail.com
5  chris  iggins  chris.iggins@mail.com
6  chris   smith   chris.smith@mail.com
7  chris   brown   chris.brown@mail.com
8  chris     doe     chris.doe@mail.com
9  chris   brown   chris.brown@mail.com

In [86]:
df.drop(0)

   first    last                  email
1   mark  iggins   mark.iggins@mail.com
2   mark   smith    mark.smith@mail.com
3  chris     doe     chris.doe@mail.com
4   mark   smith    mark.smith@mail.com
5  chris  iggins  chris.iggins@mail.com
6  chris   smith   chris.smith@mail.com
7  chris   brown   chris.brown@mail.com
8  chris     doe     chris.doe@mail.com
9  chris   brown   chris.brown@mail.com

In [87]:
df.drop(columns='first')

     last                  email
0   brown     bob.brown@mail.com
1  iggins   mark.iggins@mail.com
2   smith    mark.smith@mail.com
3     doe     chris.doe@mail.com
4   smith    mark.smith@mail.com
5  iggins  chris.iggins@mail.com
6   smith   chris.smith@mail.com
7   brown   chris.brown@mail.com
8     doe     chris.doe@mail.com
9   brown   chris.brown@mail.com

In [88]:
df.drop(index=[n for n in range(df.shape[0]) if n % 2])

   first   last                 email
0    bob  brown    bob.brown@mail.com
2   mark  smith   mark.smith@mail.com
4   mark  smith   mark.smith@mail.com
6  chris  smith  chris.smith@mail.com
8  chris    doe    chris.doe@mail.com

In [89]:
df.drop(index=[n for n in range(df.shape[0]) if random.choice([True, False])])

   first    last                 email
1   mark  iggins  mark.iggins@mail.com
3  chris     doe    chris.doe@mail.com
6  chris   smith  chris.smith@mail.com
7  chris   brown  chris.brown@mail.com

In [90]:
df.drop(columns=df.columns[0])

     last                  email
0   brown     bob.brown@mail.com
1  iggins   mark.iggins@mail.com
2   smith    mark.smith@mail.com
3     doe     chris.doe@mail.com
4   smith    mark.smith@mail.com
5  iggins  chris.iggins@mail.com
6   smith   chris.smith@mail.com
7   brown   chris.brown@mail.com
8     doe     chris.doe@mail.com
9   brown   chris.brown@mail.com

In [91]:
filt = (df['email'].str.contains('smith'))
df[filt].index

Index([2, 4, 6], dtype='int64')